.body{
    background-color:rgb(252, 251, 244);
    height:100vh;
    width:100vw;
    align-items: center;
    justify-content:center;
}

.logo{
    width:100px;
}

.button {
    background-color:rgb(255, 94, 0);
    border-radius: 5px;
    border:1px solid rgb(236, 159, 72);
    cursor: pointer;
    width:200px;
    height:40px;
    margin-top: 5px;
    color:rgb(255, 255, 255);
}

.button:hover{
    background-color:rgb(255, 156, 7);
    outline:1px solid rgb(255, 248, 149);
    transition:ease-in-out .3s;
}
.texto{
    color:black
}